<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Length Converter</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">

    <h1>Unit Converter</h1>

    <div class="tabs">
        <a class="active" href="length.html">Length</a>
        <a href="weight.html">Weight</a>
        <a href="temperature.html">Temperature</a>
    </div>

    <form action="length-result.html" class="form">
        <label>Enter the length to convert</label>
        <input type="text" name="value">

        <label>Unit to Convert from</label>
        <input type="text" name="from">

        <label>Unit to Convert to</label>
        <input type="text" name="to">

        <button type="submit">Convert</button>
    </form>

</div>

</body>
</html>
